*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    background-color: #5E936C;
    padding: 50px;
}
.logo{
    width: 100px;
    /*jaaa*/
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #3E5F44;
}

header .nav .nav-list{
    display: flex;
    list-style: none;
    gap: 10px;
}
header .nav .nav-list li a{
    text-decoration: none;
    color: black;
}

.comidas .comidas-contenedor div img{
width: 300px;
object-fit: cover;
}
.comidas h2{
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding: 20px;

}
.comidas{
    background-color: #93DA97;
}

.comidas .comidas-contenedor div{
    border: 2px red solid;
    width: 304px;
    height: 307px;
    margin: 10px;
    text-align: center;
}

.comidas .comidas-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.comidas .comidas-contenedor div p{
    margin-bottom: 15px;
}
.comidas .comidas-contenedor div a{
    text-decoration: none;
    color: beige;
    background-color: black;
    padding: 10px;
}

.abrir-menu, .cerrar-menu{
    display: none;
}
.servicios .contenedor-imagen{
    position: relative;
    width: 500px; /* 👈 Axel Igual que el otro div */
    max-width: 500px; /* Límite opcional en desktop */
     /* Centrado */
}
.servicios .contenedor-imagen .texto-sobre-imagen{
    position: absolute;
    bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      padding: 10px;
      font-family: monospace;
      font-size: 14px;
      text-align: center;
}

.servicios{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    background-color: #93DA97;
    padding: 50px;
    
}

.servicios div{
    width: 50%; /* 👈 Axel Igual que el otro div */
    text-align: center;
}
.servicios img{
    width: 100%; /* 👈Axel Para que se ajuste al ancho del contenedor */
    height: auto;
    display: block;
}

.nosotros .contenedor-imagen{
    position: relative;
    width: 500px; /* 👈 Axel Igual que el otro div */
    max-width: 500px; /* Límite opcional en desktop */
     /* Centrado */
}

.nosotros .contenedor-imagen .texto-sobre-imagen{
    position: absolute;
    bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      padding: 10px;
      font-family: monospace;
      font-size: 14px;
      text-align: center;
}
.nosotros{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #93DA97;
    padding: 50px;
}
.nosotros div{
    width: 50%; /* 👈 Axel Igual que el otro div */
    text-align: center;
}
.nosotros img{
    width: 100%; /* 👈Axel Para que se ajuste al ancho del contenedor */
    height: auto;
    display: block;
}

.contacto .contenedor-mapa{
    width: 600px;
}
.contacto{
    background-color: #93DA97;
}

.contacto .contenedor-mapa iframe{
    width: 100%
}
.contacto h3{
    text-align: center;
    margin-bottom: 20px;
    background-color: black;
    color: aliceblue;
    padding: 20px;
}
.contacto .contenedor-contacto{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

form{
    background-color: #E8FFD7;
    padding: 20px;
    border: red 2px solid;
    height: 400px;
}

form input{
    width: 100%;
    margin-bottom: 5px;
}
form textarea{
    width: 100%;
    margin-bottom: 5px;
}
form .button-container{
    text-align: center;
}


footer{
    background-color: #E8FFD7;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    padding: 10px;
    border-radius: 8px; 
}

footer .logo-footer{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

footer ul{ 
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
footer ul li{ 
    
}

footer p{
    text-align: center;
    margin-bottom: 15px;
}
footer img{
    width: 100px;
    transition: all 0.3s; 
}
footer img:hover{
    transform: scale(1.2);
}

.redes-sociales{
    text-align: center;
    color: aliceblue;
}  
.redes-sociales a{
    text-decoration: none;
} 

 .enlaces{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

}    

.enlaces a{
    text-decoration: none;
    
} 


@media screen and (max-width: 550px){
    .abrir-menu, .cerrar-menu{
        display: block;
        border: 0;
        font-size: 25px;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu{
        color: black;
    }

    .cerrar-menu{
        color: aliceblue;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
    }
    
    .nav{
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 10px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        padding: 10px;
        z-index: 9999;
    }

    .nav.visible{ /*Axel aca es una combinacion de clases un elemento html tiene dos clases*/
        opacity: 1;
        visibility: visible;
    }

    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    header .nav .nav-list li a{
        color: aliceblue;
    }
    .nosotros{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        flex-wrap: wrap;
        
        
    }
    .nosotros > div,
  .contenedor-imagen {
    width: 100% !important;
    margin-bottom: 20px;
  }
  .servicios{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    flex-wrap: wrap;   
}
.servicios > div,
  .contenedor-imagen {
    width: 100% !important;
    margin-bottom: 20px;
  }
}